{% extends 'layout/base.html' %}

{% block content %}
<div class="container-fluid p-0">
	<div class="mb-3">
		<h1 class="h3 d-inline align-middle">Profile Creation</h1>
	</div>

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h5 class="card-title mb-0">Candidate Information</h5>
				</div>
				<div class="card-body1">
					<form method="post" enctype="multipart/form-data">
						{% csrf_token %}
						{{ form.as_p }}  <!-- Render form fields automatically -->
						<button type="submit">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
