{% extends 'layout/base.html' %}

{% block content %}
<div class="container-fluid p-0">
	<div class="mb-3">
		<h1 class="h3 d-inline align-middle">Admin Setting for Exam Details</h1>
	</div>
	<div class="mt-3">
		<a href="{% url 'create_exam_type' %}" class="btn btn-success">Create </a>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body1">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>City Name</th>
								<th>Location</th>
								<th>Current Fee</th>
								<th>Newest Fee</th>
								<th>Test Type</th>
								<th>Test Model</th>
								<th>Action</th>
								<!-- Add more columns as needed -->
							</tr>
						</thead>
						<tbody>
							{% for exam_type in exam_types %}
								<tr>
									<td>{{ exam_type.city_name }}</td>
									<td>{{ exam_type.location }}</td>
									<td>{{ exam_type.current_fee }}</td>
									<td>{{ exam_type.newest_fee }}</td>
									<td>{{ exam_type.test_type }}</td>
									   <td>{{ exam_type.test_model }}</td>
									<td>
										<div class="action-links">
											<!-- View button -->
											<a href="{% url 'exam_detail' pk=exam_type.pk %}" class="btn btn-info btn-sm">View Details</a>
											<!-- Edit button -->
											<a href="{% url 'exam_edit' pk=exam_type.pk %}" class="btn btn-primary btn-sm">Edit</a>
											<!-- Delete button -->
											<form action="{% url 'exam_delete' pk=exam_type.pk %}" method="post">
												{% csrf_token %}
												<button type="submit1" class="btn btn-danger btn-sm">Delete</button>
											</form>
										</div>
									</td>
								</tr>
							{% endfor %}

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}