{% extends 'webapp/base.html' %}

{% block content %}
<style>
    body {
        background-color: #911a09;
    }
    /* Background color for form content */
    .form-content {
        background-color: #201c6a;
        padding: 20px;
        border-radius: 10px;
        color: #ffffff;
    }
    .form-group {
        position: relative;
    }
    .form-control {
        padding-right: 40px;
    }
    .password-toggle {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
    }
</style>

<div class="col-md-6 offset-md-3">
    <div class="form-content">
        <h1>Login</h1>
        <br/>

        <form method="POST" action="">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    Your Form Has Errors
                    {% for field in form %}
                        {% if field.errors %}
                            {{ field.errors }}
                        {% endif %}
                    {% endfor %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}

            <div class="mb-3 row">
                <label for="{{ form.username.id_for_label }}" class="col-sm-4 col-form-label"><i class="fas fa-user"></i> Username:</label>
                <div class="col-sm-12">
                    {{ form.username }}
                </div>
            </div>
            <div class="mb-3 row">
                <label for="{{ form.password.id_for_label }}" class="col-sm-4 col-form-label"><i class="fas fa-lock"></i> Password:</label>
                <div class="col-sm-12">
                    <div class="input-group">
                        {{ form.password }}
                        <button class="btn btn-outline-secondary" type="button" id="password-toggle">
                            <i class="fas fa-eye"></i>
                        </button>
                    </div>
                </div>
            </div>

            <br/>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-secondary">Login</button>
            </div>
            <div class="mt-3">
                <p>Don't have an account? <a href="{% url 'register' %}">Register Now</a></p>
            </div>
        </form>
    </div>
</div>

<script>
    // JavaScript to toggle password visibility
    document.getElementById('password-toggle').addEventListener('click', function() {
        var passwordField = document.getElementById('{{ form.password.id_for_label }}');
        var icon = this.querySelector('i');
        if (passwordField.type === 'password') {
            passwordField.type = 'text';
            icon.classList.remove('fa-eye');
            icon.classList.add('fa-eye-slash');
        } else {
            passwordField.type = 'password';
            icon.classList.remove('fa-eye-slash');
            icon.classList.add('fa-eye');
        }
    });
</script>
{% endblock %}
