{% extends 'webapp/base.html' %}

{% block content %}
<style>
    body {
        background-color: #911a09;
    }

    /* Form container with blue background */
    .form-container {
        background-color: #201c6a;
        padding: 20px;
        border-radius: 10px;
        color: #ffffff;  /* Changed text color to white */
    }
    .col-form-label {
        color: #ffffff; 
    }
</style>

<!-- Reset Password Complete Section -->
<div class="col-md-6 offset-md-3 form-content active">
    <div class="col-md-6 offset-md-3">
        <div class="form-content">
            <h1>Password Reset Complete</h1>
            <p>Your password has been successfully reset. You can now <a href="{% url 'login' %}">log in</a> with your new password.</p>
        </div>
    </div>
</div>
{% endblock %}
