{% extends 'webapp/base.html' %}

{% block content %}
<style>
    body {
        background-color: #911a09;
    }

    /* Form container with blue background */
    .form-container {
        background-color: #201c6a;
        padding: 20px;
        border-radius: 10px;
        color: #ffffff;  /* Changed text color to white */
    }
    .col-form-label {
        color: #ffffff; 
    }
</style>

<!-- Reset Password Confirm Section -->
<div class="col-md-6 offset-md-3 form-content active">
    <div class="col-md-6 offset-md-3">
        <div class="form-content">
            <h1>Set New Password</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-secondary">Set Password</button>
            </form>
        </div>
    </div>
</div>    
{% endblock %}
