{% extends 'webapp/base.html' %}

{% block content %}
<style>
    body {
        background-color: #911a09;
    }

    /* Form container with blue background */
    .form-container {
        background-color: #201c6a;
        padding: 20px;
        border-radius: 10px;
        color: #ffffff;  /* Changed text color to white */
    }
    .col-form-label {
        color: #ffffff; 
    }
</style>

<!-- Reset Password Confirm Section -->
<div class="col-md-6 offset-md-3 form-content active">
    <div class="col-md-6 offset-md-3">
        <div class="form-content">
            <!-- templates/webapp/password_reset_confirm.html -->
            <h2>Set a New Password</h2>
            <form method="post">
                {% csrf_token %}
                <label for="new_password">New Password</label>
                <input type="password" name="new_password" id="new_password">
                <button type="submit">Set New Password</button>
            </form>
        </div>
    </div>
</div>    
{% endblock %}
