{% extends 'layout/base.html' %}

{% block content %}
<div class="container-fluid p-0">
    <div class="mb-3">
        <h1 class="h3 d-inline align-middle">List of Students</h1>
    </div>
    
    <!-- Create Button (if user has appropriate permissions) -->
    <div class="mt-3">
        {% if request.user.is_superuser or request.user.role == 'partner' %}
        <a href="{% url 'sub_register_student' %}" class="btn btn-success">Create</a>
        {% endif %}
    </div>
    
    <!-- Table to Display Students -->
    <div class="table-responsive mt-3">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Registered By</th>
                    {% comment %} <th scope="col">Book</th> {% endcomment %}
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.username }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.registered_by.username }}</td>
                    {% comment %} <td><td><a href="{% url 'booking_form' exam_type.id %}" class="booking-button"></a></td>Book Now</a></td> {% endcomment %}
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No students available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
