{% extends 'layout/base.html' %}

{% block content %}
<div class="container-fluid p-0">
    <div class="mb-3">
        <h1 class="h3 d-inline align-middle">List of Registered Candidates</h1>
    </div>

    <!-- Filter Form -->
    {% if request.user.is_superuser %}
    <form class="form-inline mb-3" method="GET">
        <div class="form-group mb-2">
            <select class="form-control" name="username" id="usernameSelect">
                <option value="">Select User</option>
                {% for creator in creators %}
                    <option value="{{ creator.username }}">{{ creator.username }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Filter</button>
    </form>
    {% endif %}

    <!-- Create Button -->
    {% comment %} <div class="mt-3">
        {% if request.user.is_superuser or request.user.role == 'partner' %}
        <a href="{% url 'booking_form' %}" class="btn btn-success">Create</a>
        {% endif %}
    </div> {% endcomment %}

    <!-- Displaying Bookings -->
    <div class="table-responsive mt-3">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Candidate ID</th>
                    <th>Candidate Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Created By</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for creator, bookings in categorized_bookings.items %}
                    {% for booking in bookings %}
                    <tr>
                        <td>{{ booking.created_at|date:"Y-m-d H:i:s" }}</td>
                        <td>BritishELT0{{ booking.id }}</td>
                        <td>{{ booking.name }}</td>
                        <td>{{ booking.email}}</td>
                        <td>{{ booking.town_or_city }}</td>
                        <td>{{ booking.created_by.username }}</td>
                        <td>
                            <div class="action-links">
                                <a href="{% url 'booking_detail' booking.id %}" class="btn btn-info btn-sm">View</a>
                                {% if request.user.role == 'admin' or request.user.role == 'partner' %}
                                    <a href="{% url 'booking_edit' booking.id %}" class="btn btn-primary btn-sm">Edit</a>
                                    <form action="{% url 'delete_booking' booking.id %}" method="post" style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit1" class="btn btn-danger btn-sm">Delete</button>
                                    </form>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="10">No bookings found.</td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
