{% extends 'layout/base.html' %}

{% block content %}
<div class="container-fluid p-0">
    <div class="mb-3">
        <h1 class="h3 d-inline align-middle">IELTS Exam Registration</h1>
    </div>
    <div class="mt-3">
        <a href="{% url 'booking_list' %}" class="btn btn-primary btn-sm">List</a>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Candidate Information</h5>
                </div>
                <div class="card-body1">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <!-- First section of the form -->
                        <fieldset>
                            <legend><strong>A. Personal Information</strong></legend>
                            <div class="mb-3">
                                {{ form.dob.label_tag }}
                                {{ form.dob }}
                                {% if form.dob.errors %}
                                    <div class="text-danger">
                                        {% for error in form.dob.errors %}
                                            <small>{{ error }}</small><br>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                {{ form.name.label_tag }}
                                {{ form.name }}
                                {% if form.name.errors %}
                                    <div class="text-danger">
                                        {% for error in form.name.errors %}
                                            <small>{{ error }}</small><br>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                {{ form.email.label_tag }}
                                {{ form.email }}
                                {% if form.email.errors %}
                                    <div class="text-danger">
                                        {% for error in form.email.errors %}
                                            <small>{{ error }}</small><br>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                {{ form.mobileno.label_tag }}
                                {{ form.mobileno }}
                                {% if form.mobileno.errors %}
                                    <div class="text-danger">
                                        {% for error in form.mobileno.errors %}
                                            <small>{{ error }}</small><br>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                {{ form.country.label_tag }}
                                {{ form.country }}
                                {% if form.country.errors %}
                                    <div class="text-danger">
                                        {% for error in form.country.errors %}
                                            <small>{{ error }}</small><br>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                {{ form.address_line.label_tag }}
                                {{ form.address_line }}
                                {% if form.address_line.errors %}
                                    <div class="text-danger">
                                        {% for error in form.address_line.errors %}
                                            <small>{{ error }}</small><br>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                {{ form.town_or_city.label_tag }}
                                {{ form.town_or_city }}
                                {% if form.town_or_city.errors %}
                                    <div class="text-danger">
                                        {% for error in form.town_or_city.errors %}
                                            <small>{{ error }}</small><br>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                {{ form.passport_no.label_tag }}
                                {{ form.passport_no }}
                                {% if form.passport_no.errors %}
                                    <div class="text-danger">
                                        {% for error in form.passport_no.errors %}
                                            <small>{{ error }}</small><br>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                {{ form.passport_file.label_tag }}
                                {{ form.passport_file }}
                                {% if form.passport_file.errors %}
                                    <div class="text-danger">
                                        {% for error in form.passport_file.errors %}
                                            <small>{{ error }}</small><br>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                {{ form.passport_expiry_date.label_tag }}
                                {{ form.passport_expiry_date }}
                                {% if form.passport_expiry_date.errors %}
                                    <div class="text-danger">
                                        {% for error in form.passport_expiry_date.errors %}
                                            <small>{{ error }}</small><br>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                {{ form.passport_issuing_authority.label_tag }}
                                {{ form.passport_issuing_authority }}
                                {% if form.passport_issuing_authority.errors %}
                                    <div class="text-danger">
                                        {% for error in form.passport_issuing_authority.errors %}
                                            <small>{{ error }}</small><br>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                {{ form.gender.label_tag }}
                                {{ form.gender }}
                                {% if form.gender.errors %}
                                    <div class="text-danger">
                                        {% for error in form.gender.errors %}
                                            <small>{{ error }}</small><br>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </fieldset>

                        <!-- Second section of the form -->
                        <fieldset>
                            <legend><strong>B. Exam Information</strong></legend>
                            <div class="mb-3">
                                {{ form.exam_type.label_tag }}
                                {{ form.exam_type }}
                                {% if form.exam_type.errors %}
                                    <div class="text-danger">
                                        {% for error in form.exam_type.errors %}
                                            <small>{{ error }}</small><br>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </fieldset>

                        <!-- Third section of the form -->
                        <fieldset>
                            <legend><strong>C. Additional Information</strong></legend>
                            <div class="mb-3">
                                {{ form.test_takers_first_language.label_tag }}
                                {{ form.test_takers_first_language }}
                                {% if form.test_takers_first_language.errors %}
                                    <div class="text-danger">
                                        {% for error in form.test_takers_first_language.errors %}
                                            <small>{{ error }}</small><br>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                {{ form.test_takers_country.label_tag }}
                                {{ form.test_takers_country }}
                                {% if form.test_takers_country.errors %}
                                    <div class="text-danger">
                                        {% for error in form.test_takers_country.errors %}
                                            <small>{{ error }}</small><br>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                {{ form.education_level.label_tag }}
                                {{ form.education_level }}
                                {% if form.education_level.errors %}
                                    <div class="text-danger">
                                        {% for error in form.education_level.errors %}
                                            <small>{{ error }}</small><br>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                {{ form.occupation_sector.label_tag }}
                                {{ form.occupation_sector }}
                                {% if form.occupation_sector.errors %}
                                    <div class="text-danger">
                                        {% for error in form.occupation_sector.errors %}
                                            <small>{{ error }}</small><br>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                {{ form.occupation_level.label_tag }}
                                {{ form.occupation_level }}
                                {% if form.occupation_level.errors %}
                                    <div class="text-danger">
                                        {% for error in form.occupation_level.errors %}
                                            <small>{{ error }}</small><br>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                {{ form.interest_in_ielts.label_tag }}
                                {{ form.interest_in_ielts }}
                                {% if form.interest_in_ielts.errors %}
                                    <div class="text-danger">
                                        {% for error in form.interest_in_ielts.errors %}
                                            <small>{{ error }}</small><br>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                {{ form.purpose.label_tag }}
                                {{ form.purpose }}
                                {% if form.purpose.errors %}
                                    <div class="text-danger">
                                        {% for error in form.purpose.errors %}
                                            <small>{{ error }}</small><br>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </fieldset>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
