{% extends 'layout/base.html' %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block content %}
<div class="container-fluid p-0">
    <div class="container-fluid p-0">
        <div class="alert alert-success custom-welcome" role="alert" style="color: #4578c2; font-family: Arial, sans-serif; font-weight: bold; font-size: 24px;">
            WELCOME to BRITISH AMERICAN EDUCARE {{ request.user.username }}!!!
        </div>											
        <br>
        <div class="mb-3">
            <h2 class="h3 d-inline align-middle"> IELTS test fees in Nepal </h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table class="booking-table">
                            <thead>
                                <tr>
                                    <th>Test Type</th>
                                    <th>Test Model</th>
                                    <th>British Annual Fees (valid until 30 April 2024)</th>
                                    <th>Actual Fees (on and after 01 May 2024)</th>
                                    <th>Details Views</th>
                                    <th>Book</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for exam_type in exam_types %}
                                <tr>
                                    <td>{{ exam_type.test_type }}</td>
                                    <td>{{ exam_type.test_mode }}</td>
                                    <td>NRP. {{ exam_type.current_fee }}</td>
                                    <td>NPR. {{ exam_type.newest_fee }}</td>
                                    <td><a href="{% url 'home_find_test' %}">View Exam Date</a></td>
                                    <td><a href="{% url 'booking_form' %}" class="booking-button">Book Now</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>	
                    </div>
                </div>
            </div>
        </div>
    </div>		
</div>
{% endblock %}
