<!-- templates/home/exam_list.html -->
{% extends 'layout/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="mb-3">
        <h1 class="h3 d-inline align-middle">List Of Exam Dates</h1>
    </div>
    <div class="mt-3">
        <a href="{% url 'home' %}" class="btn btn-success">Back</a>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>City Name</th>
                        <th>Location</th>
                        <th>Test Type</th>
                        <th>Test Mode</th>
                        <th>Test Date</th>
                        <th>Test Time</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for exam_type in exam_types %}
                    <tr>
                        <td>{{ exam_type.city_name }}</td>
                        <td>{{ exam_type.location }}</td>
                        <td>{{ exam_type.test_type }}</td>
                        <td>{{ exam_type.test_mode }}</td>
                        <td>{{ exam_type.test_date }}</td>
                        <td>{{ exam_type.test_time }}</td>
                        <td>
                            <a href="{% url 'booking_form' %}" class="btn btn-success">Book</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7">No exam types available.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
