{% extends 'layout/base.html' %}

{% block content %}

<div class="container-fluid p-0">
	<div class="mb-3">
		<h1 class="h3 d-inline align-middle">List of Registered Candidates</h1>
	</div>
	<div class="mt-3">
		<a href="{% url 'home' %}" class="btn btn-success">Book</a>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body1">
					<a class="header" href="{% url 'home_exam_type' %}"><h2>IELTS Academic</h2></a>
					<div class="sub-header">Find a test</div>
					<hr>
					<div class="content1">
						<h2>Where would you like to take your test?</h2>
						<p>Search in: Nepal
							<select id="locationSelect" onchange="navigateToCity(this)">
								<option value="" selected disabled>Select City</option>
								{% for city_name in city_names %}
								<option value="{% url 'home_find_test' %}?city={{ city_name }}">{{ city_name }}</option>
								{% endfor %}
							</select>
							<a href="#" id="changeCountryLink">Change country / territory</a>
						</p>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}